* {
  text-align: center;
  font-family: 'Garamond', serif;
  background-color: plum;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#who-won {
  font-size: 18px;
  margin: 15px;
}

.user-choice {
  width: 125px;
  height: 125px;
}

.computer-choice {
  width: 125px;
  height: 125px;
}

.hide {
  display: none
}

.choices {
  margin: 10px;
  font-size: 28px;
  padding: 10px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin: 30px;
}

button:hover {
  color: black;
  background-color: azure;
  cursor: pointer;
}
